{% extends '::base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Adresse</h1>

    <table class="record_properties">
        <tbody>
            {# pour chaque champ de l'instance... #}
            {% for key, value in instance|to_array %}
            <tr>
                {# afficher le nom du champ et la valeur #}
                {# TODO avec cette méthode, le nom du champ est précédé de tout le namespace #}
                <th>{{ key }}</th>
                <td>
                    {# le cas échéant, convertir la date en chaîne de caractères formatée #}
                    {% if value.timestamp is defined %}
                        {{ value|date('Y-m-d') }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('edit', {'entity': entity, 'id': instance.id }) }}">
            Modifier
        </a>
    </li>
    <li>
        <a href="{{ path('list', { 'entity':entity }) }}">
            Retour à la liste
        </a>
    </li>
    <li>
        {{ form(delete_form) }}
    </li>
</ul>
{% endblock %}
