{# src/Gesdon2Bundle/Resources/views/Adresse/new.html.twig #}

{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}

{% block head %}
    <title>Créer une adresse</title>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" >
            $(document).ready(function( ) {
                /**
                 * Ajouter un bouton à la suite du champ Donateur.
                 * Sur click du bouton,
                 * ouvrir une fenêtre modale contenant la liste des donateurs.
                 */
                var donateur_dialog;
                // variable où affecter l'ID du donateur
                var donateur_id;
                var bouton_donateur =
                    // créer le bouton de recherche du donateur
                        $('<input type="button" action="" value="&#x1F50E;">')
                            // ajouter l'action sur click
                                .on( "click", function(){
                                    // si la fenêtre n'a pas été initialisée...
                                    if (typeof donateur_dialog === "undefined") {
                                        // créer une fenêtre à partir d'une nouvelle div
                                        donateur_dialog = $("<div title='Choisissez un donateur'></div>")
                                            // charger la page de recherche des donateurs
                                                .load('{{ path('donateur_search') }}')
                                                .dialog({
                                                    autoOpen: false,
                                                    height: 800,
                                                    width: 800,
                                                    modal: true
                                                });
                                        donateur_dialog
                                            // ouvrir la fenêtre
                                                .dialog("open")
                                            // sur click d'une ligne du tableau
                                                .on('click', 'tr.donateur', function () {
                                                    // affecter la valeur de la cellule 'id' à la variable
                                                    donateur_id = $(this).find(".id").text();
                                                    // fermer la fenêtre (ne détruit pas l'objet)
                                                    donateur_dialog.dialog("close");
                                                    // affecter l'id au champ donateur
                                                    $("#donateur").val(donateur_id);
                                                });
                                    }
                                    // si la fenêtre existe déjà, l'ouvrir
                                    else donateur_dialog.dialog( "open" );
                                });
                // ajouter le bouton à la suite du champ Donateur
                $("#donateur").parent().append(bouton_donateur);
            });
        </script>
    {% endblock %}
{%  endblock %}

{% block body %}
    {{ parent() }}
    <h1>Créer une adresse</h1>

    {{ form(form) }}

<div class="record_actions">
    <a href="{{ path("adresse_search") }}">
        Retour à la liste
    </a>
</div>
{% endblock %}