{# src/Gesdon2Bundle/Resources/views/Adresse/search.html.twig #}

{% extends '::base.html.twig' %}
{% form_theme list_form 'form_table_layout.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function( ) {
                //au click sur le bouton 'filtrer'
                $("#adresse_search").click(function( event ){
                    // empêcher le submit
                    event.preventDefault();
                    // récupérer le formulaire (le nom du formulaire est défini dans le Type)
                    var form = $('#adresse_form');
                    //requête ajax, appel de la route adresse_table
                    $.ajax({
                        type    : 'POST',
                        url     : "{{ path('adresse_table') }}",
                        data    : form.serialize(),
                        //afficher l'erreur en cas de problème
                        error:function(msg, string){
                            alert( "Error !: " + string );
                        },
                        success:function(htmlResponse){
                            //vider la div et mettre à jour la div avec les données reçues
                            $("#adresse_table")
                                    .empty()
                                    .hide()
                                    .append(htmlResponse)
                                    .fadeIn(100);
                        }
                    });
                });

                // Ouvrir une fenêtre modale contenant la liste des donateurs
                var donateur_id;
                $("option").on( "click", function(){
                    var donateur_dialog = $( "<div title='Choisissez un donateur'></div>" )
                            .load('../Donateur')
                            .dialog({
                                autoOpen: false,
                                height: 800,
                                width: 800,
                                modal: true
                            });
                    donateur_dialog
                            .dialog( "open" )
                            .on('click', '#donateur', function(){
                                donateur_id = $(this).find(".id").text();
                                donateur_dialog.dialog("destroy");
                                $("select#donateur").val(donateur_id);
                            });
                });
            })
        </script>
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets 'css/table.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
    {% endblock %}
{% endblock %}

{% block body %}
    {{ form_start(list_form) }}
    {{ form_errors(list_form) }}
    {{ form(list_form) }}
    {{ form_end(list_form) }}
    <a href="{{ path('adresse_new') }}">Ajouter</a>

    <div id="adresse_table">
        {# charger le tableau ici #}
    </div>
{% endblock %}