{# src/Gesdon2Bundle/Resources/views/Don/new.html.twig #}

{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}

{% block head %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts 'js/jquery-ui/datepicker-fr.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 'js/new.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <title>Créer un don</title>
{% endblock %}

{% block body %}
    <h1>Créer un don</h1>

    <div>
        {# TODO remplacer par un formulaire ne tenant compte que de l'ID #}
        {# TODO afficher les autres informations sous forme de texte #}
        <label for="donateur">Donateur</label>
        <input type="text" name="donateur" id="donateur">

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>

<div class="record_actions">
    <a href="{{ path("don_search") }}">
        Retour à la liste
    </a>
</div>

{% endblock %}