{# src/Gesdon2Bundle/Resources/views/Don/new.html.twig #}

{% extends '::base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}

{% block head %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts 'js/jquery-ui/datepicker-fr.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function( ) {
                /**
                 * Sur click du champ Donateur,
                 * ouvrir une fenêtre modale contenant la liste des donateurs
                 */
                var adresse_dialog;
                var adresse_id;
                $("#don_adresse").on( "click", function(){
                    // si la fenêtre n'a pas été initialisée...
                    if (typeof adresse_dialog === "undefined") {
                        // créer une fenêtre à partir d'une nouvelle div
                        adresse_dialog = $("<div title='Choisissez une adresse'></div>")
                                .load('{{ path('adresse_search') }}')
                                .dialog({
                                    autoOpen: false,
                                    height: 800,
                                    width: 800,
                                    modal: true
                                });
                        adresse_dialog
                                .dialog("open")
                                .on('click', '#adresse', function () {
                                    adresse_id = $(this).find(".id").text();
                                    adresse_dialog.dialog("close");
                                    $("#don_adresse").val(adresse_id);
                                });
                    }
                    // si la fenêtre existe déjà, l'ouvrir
                    else adresse_dialog.dialog( "open" );
                });
            });
        </script>
    {% endblock %}
    <title>Créer un don</title>
{% endblock %}

{% block body %}
    <h1>Créer un don</h1>

    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>

<div class="record_actions">
    <a href="{{ path("don_search") }}">
        Retour à la liste
    </a>
</div>

{% endblock %}