{# src/Gesdon2Bundle/Resources/views/Don/search.html.twig #}

{% extends '::base.html.twig' %}
{% form_theme don_form 'form_table_layout.html.twig' %}

{% block head %}

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript" >
            function donPost( $form, callback ){
                // Retrouver les valeurs du formulaire
                var values = {};
                $.each( $form.serializeArray(), function(i, field) {
                    values[field.name] = field.value;
                });
                // Envoyer les valeurs au contrôleur
                $.ajax({
                    type        : $form.attr( 'method' ),
                    url         : $form.attr( 'action' ),
                    data        : values,
                    success     : function(data) {
                        callback( data );
                        //vider la div et mettre à jour la div avec les données reçues
                        $("#don_table")
                                .empty()
                                .hide()
                                .append(data)
                                .fadeIn(100);
                    }
                });
            }

            $(document).ready(function( ) {
                var form = $('#don_form');

                $(form).submit(function (e) {
                    e.preventDefault();
                    donPost($(this), function callback(response) {
                    });
                    return false;
                });
                $('#don_search').removeAttr('disabled');

                /**
                 * Sur click du champ Adresse,
                 * ouvrir une fenêtre modale contenant la liste des adresses
                 */
                var adresse_id;
                var adresse_dialog;
                var bouton_adresse =
                    // créer le bouton de recherche de l'adresse
                    $('<input type="button" action="" value="&#x1F50E;">')
                    // ajouter l'action sur click
                    .on( "click", function(){
                        // si la fenêtre n'a pas été initialisée...
                        if (typeof adresse_dialog === "undefined") {
                            // créer une fenêtre à partir d'une nouvelle div
                            adresse_dialog =
                                    $("<div title='Choisissez une adresse'></div>")
                                    .load('{{ path('adresse_search') }}')
                                    .dialog({
                                        autoOpen: false,
                                        height: 800,
                                        width: 800,
                                        modal: true
                                    });
                            adresse_dialog
                                    .dialog("open")
                                    .on('click', 'tr.adresse', function () {
                                        adresse_id = $(this).find(".id").text();
                                        adresse_dialog.dialog("close");
                                        $("#adresse").val(adresse_id);
                                    });
                        }
                        // si la fenêtre existe déjà, l'ouvrir
                        else adresse_dialog.dialog( "open" );
                    });
                // ajouter le bouton à la suite du champ Adresse
                $("#adresse").parent().append(bouton_adresse);
            });
        </script>

    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets 'css/table.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
    {% endblock %}

{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Rechercher un don</h1>
    {{ form_start(don_form) }}
    {{ form_errors(don_form) }}
    {{ form(don_form) }}
    {{ form_end(don_form) }}
    <a href="{{ path('don_new') }}">Ajouter</a>

    <div id="don_table">
        {# charger le tableau ici #}
    </div>

{% endblock %}