{# src/Gesdon2Bundle/Resources/views/Don/search.html.twig #}

{% extends '::base.html.twig' %}
{% form_theme list_form 'form_table_layout.html.twig' %}

{% block head %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets 'css/table.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% javascripts %}
        <script type="text/javascript">
            $(document).ready(function( ) {
                $("#don_search").click(function( event ){
                    // empêcher le submit
                    event.preventDefault();
                    // récupérer le formulaire (le nom du formulaire est défini dans le Type)
                    var form = $('#don_form');
                    //requête ajax, appel de la route don_table
                    $.ajax({
                        type    : 'POST',
                        url     : "{{ path('don_table') }}",
                        data    : form.serialize(),
                        //afficher l'erreur en cas de problème
                        error:function(msg, string){
                            alert( "Error !: " + string );
                        },
                        success:function(htmlResponse){
                            //mettre à jour le div avec les données reçues
                            //vider la div et on le cache
                            $("#don_table")
                                    .empty()
                                    .hide()
                                    .append(htmlResponse)
                                    .fadeIn(100);
                        }
                    });
                });
            })
        </script>
        {% endjavascripts %}
    {% endblock %}

{% endblock %}

{% block body %}

    {{ form_start(list_form) }}
    {{ form_errors(list_form) }}
    {{ form(list_form) }}
    {{ form_end(list_form) }}
    <a href="{{ path('don_new') }}">Ajouter</a>

    <div id="don_table">
        {# charger le tableau ici #}
    </div>

{% endblock %}