{# src/Gesdon2Bundle/Resources/views/Don/table.html.twig #}


{% block head %}
    {% stylesheets 'css/table.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <table id="entities">
        <tr>
            <th>ID</th>
            <th>Adresse</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Moyen</th>
            <th>Description</th>
            <th>Récurrence</th>
            <th>Fin Récurrence</th>
            <th>N° Transaction</th>
            <th>Courriel</th>
        </tr>
    {# pour chaque instance de l'entité... #}
        {% for instance in instances %}
            {# faire une ligne sur deux de classe 'alt', pour mise en forme #}
            <tr {% if loop.index is divisible by(2) %} class="don alt"{% endif %} class="don">
                <td class="id">{{ instance.id }}</td>
                <td class="adresse">{{ instance.adresse }}</td>
                <td class="date">{{ instance.date|date("Y-m-d") }}</td>
                <td class="montant">{{ instance.montant }}</td>
                <td class="moyen">{{ instance.moyen }}</td>
                <td class="description">{{ instance.moyenDesc }}</td>
                <td class="recurrence">{{ instance.recurrence }}</td>
                <td class="finrecurrence">{{ instance.dateFinRecurrence|date("Y-m-d") }}</td>
                <td class="transaction">{{ instance.transacNum }}</td>
                <td class="courriel">{{ instance.courriel }}</td>
            {# afficher les liens vers le formulaire de modification dans la dernière colonne #}
            <td>
                <a href="{{ path('don_edit', { 'id': instance.id }) }}">Modifier</a>
            </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}