{# src/Gesdon2Bundle/Resources/views/Donateur/table.html.twig #}

<html>
<head>
{% stylesheets '@Gesdon2Bundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
{% endstylesheets %}
</head>

<body>
{% block body -%}
    <table id="entities">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
        </tr>
    {# pour chaque instance de l'entité... #}
        {% for instance in instances %}
            {# faire une ligne sur deux de classe 'alt', pour mise en forme #}
            {# définir l'id à "donateur" pour identifier dans jQuery #}
            <tr {% if loop.index is divisible by(2) %} class="alt"{% endif %} id="donateur">
                <td class="id">{{ instance.id }}</td>
                <td class="type">{{ instance.type }}</td>
                <td class="nom">{{ instance.nom }}</td>
                <td class="prenom">{{ instance.prenom }}</td>
                <td class="courriel">{{ instance.courriel }}</td>
                {# afficher les liens vers le formulaire de modification dans la dernière colonne #}
                <td>
                    <a href="{{ path('donateur_edit', { 'id': instance.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {# Mettre en surbrillance au survol TODO séparer dans un fichier#}
    <script type="text/javascript">
        $(document).ready(function( ) {
            $("table#entities").delegate('tr','mouseover mouseleave',function(e){
                if (e.type == 'mouseover') {
                    $(this).addClass("hover");
                }
                else {
                    $(this).removeClass("hover");
                }
            })
        })
    </script>

{% endblock %}
</body>
</html>