{# src/Gesdon2Bundle/Resources/views/Donateur/list.html.twig #}
{# passer la liste des instances en paramètre lors de la génération #}

{% form_theme list_form 'form_table_layout.html.twig' %}

<html>
<head>
{% stylesheets '@Gesdon2Bundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
{% endstylesheets %}
</head>
<body>
{% block body -%}

    <table id="entities">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Courriel</th>
        </tr>
    {# pour chaque instance de l'entité... #}
        {% for instance in instances %}
            {# faire une ligne sur deux de classe 'alt', pour mise en forme #}
            {# définir l'id à "donateur" pour identifier dans jQuery #}
            <tr {% if loop.index is divisible by(2) %} class="alt"{% endif %} id="donateur">
                <td class="id">{{ instance.id }}</td>
                <td class="type">{{ instance.type }}</td>
                <td class="nom">{{ instance.nom }}</td>
                <td class="prenom">{{ instance.prenom }}</td>
                <td class="courriel">{{ instance.courriel }}</td>
                {# afficher les liens vers le formulaire de modification dans la dernière colonne #}
                <td>
                    <a href="{{ path('donateur_edit', { 'id': instance.id }) }}"></a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
</body>
</html>